{% extends "container.html" %}
{% from "macro.html" import form %}

{% block details %}
<h2>Information</h2>
<p>Lemma are from the <em>Henry George Liddell, Robert Scott, A Greek-English Lexicon</em></p>
{% endblock %}


{%block bibliography %}
<li>&quot;Gorman Trees&quot;, Vanessa Gorman, University of Nebraska-Lincoln, https://github.com/perseids-publications/gorman-trees, https://doi.org/10.5281/zenodo.3596009</li>
<li>&quot;Daphne Trees&quot;, Francesco Mambrini, https://github.com/perseids-publications/daphne-trees</li>
<li>&quot;Pedalion Trees&quot;, Toon Van Hal et al., https://github.com/perseids-publications/cst-trees</li>
<li>&quot;Perseus Treebank Data&quot;, G. Celano et al., https://github.com/PerseusDL/treebank_data</li>
<li>&quot;Harrington Trees&quot;, J. Matthew Harrington, https://github.com/perseids-publications/harrington-trees.git</li>
{% endblock %}



{% block form %}
    {{form("grc-api.main", "Tag your Ancient Greek text", "https://github.com/hipster-philology/greek-lemmatization-data")}}
{% endblock %}